#texto_ayuda{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color:#3172A1;
	margin-right: 10%;	
}

a{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

a.enls:link, a.enls:visited{
color:#3172A1;
text-decoration: none;
}
a.enls:hover{
color: #CC0000;
background-color: #eeeeee;
}
a.secac2{
	color: #B87070;
	text-decoration: none;
}
a.secac{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #CC0000;
}
a.secac:hover{
	color: #B87070;
	text-decoration: none;
	background-color: #ffffff;
}
.botones {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3366CC;
	margin: 0;
	padding-left: 18px;
	text-decoration: none;
	text-align: left;
}
.botonesHover {
text-decoration: none;
color: #CC0000;
background-color: #eeeeee;
}
/* Atenci�n, evitar alterar la clase .subMe */
.subMe{
	display: none;
	margin: 0;
	background-image: url(../imasmenu/puntosvt.gif);
	background-repeat:  repeat-y;
}
/* Atenci�n, evitar alterar la clase .subMe */
body {
	background-color: rgb(238, 243, 250);
	font-family: verdana, tahoma, arial, sans serif;
	font-size: 12px;
}

.container{
	background-color: rgb(234, 234, 234);
}
div.inset {
	/* border-style: inset; */
	background-color: white;
	height: 400px;
	left: -6%;
}

.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#contenedor{
	background-color: white;
}